<h1>Shopping List</h1>
<h2>List of Ingredients in Shopping List</h2>

<table border = "1">
    <tr>
        <td *ngFor = "let ingredient of shoppingListContainer ; let i = index"> {{ingredient.itemName}} </td>
    </tr>
    <tr>
        <td *ngFor = "let ingredient of shoppingListContainer ; let i = index"> {{ingredient.itemQuantity}} </td>
    </tr>
</table><br>


<table border = "1" style = "border-color: blue;">
  <tr>
    <td><input type = "button" (click) = "updateShoppingList()" value = "Update Shopping List"></td>
  </tr>
</table>